<mat-horizontal-stepper [linear]="true">
  <mat-step label="Preparing" [stepControl]="preparingFormGroup" [editable]="false" completed="true">
    <form [formGroup]="preparingFormGroup">
      <mat-input-container hidden>
        <input matInput formControlName="preparingFormCtrl">
      </mat-input-container>
    </form>
  </mat-step>
  <mat-step label="Queued" [stepControl]="queuedFormGroup" [editable]="false" completed="true" >
    <mat-step-header active></mat-step-header>
    <form [formGroup]="queuedFormGroup">
      <mat-input-container hidden>
        <input matInput formControlName="queuedFormCtrl">
      </mat-input-container>
    </form>
  </mat-step>
  <mat-step label="Executing" [stepControl]="executingFormGroup" [editable]="false" >
    <form [formGroup]="executingFormGroup">
      <mat-input-container hidden>
        <input matInput formControlName="executingFormCtrl">
      </mat-input-container>
    </form>
  </mat-step>
</mat-horizontal-stepper>